.red-text {
    color: red;
  }
   h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
  .thick
  {
    border-color: orange;
    border-width: 10px;
    border-style:solid;
    border-radius:80px;
  }
  .smaller-image
  {
    width:100px;
  }